@import url('https://fonts.googleapis.com/css?family=Dosis:300,600');

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  padding: 0;
}

#main {
  margin: 0 auto;
  background-color: #F7F7F7;
}

.wrap {
  width: 80%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin: 0 auto;
}

label {
  margin-left: 20px;
  text-transform: uppercase;
  color: #113A52;
  font-weight: 600;
}

h1 {
  text-transform: uppercase;
  color:#00C3B6;
  width: 100%;
  padding: 20px;
  background-color: #113A52;
  text-align: center;
  margin: 0;
}

h2 {
  background-color: #E8E8E8;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  margin-top:30px;
  color:#113A52;
}

input{
    padding:5px; 
    border:1px solid #113A52; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40%;
}

input:focus {
    background: #eee;
    border: 0 none;
}

button {
    padding:5px 15px; 
    background: #113A52;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white;
    font-size: .8rem;
}

button:hover {
  background: #00C3B6;
  color: #113A52;
}

footer {
  font-size: small;
  margin: 0 auto;
  background-color: #00C3B6;
  text-align: center;
  color: white;
  padding: 2px;
  box-sizing: border-box;
}

.btn-list {
  margin: auto;
  width: 30%;
  text-align: center;
  font-size: 11pt;
}

#allTheBooks {
  background-color: #F7F7F7;
  margin-left: 20px;

}
.result {
  margin-left: 20px;
}

#library-search {
  display: none;
}

#login-new {
  display: none;
}

.or-and {
  display: inline-block;
  background-color: #113A52;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  -webkit-border-radius: 80px;
  border-radius: 80px; 
  width: auto;
  height: auto;
}

#welcome {
  text-align: right;
  text-transform: uppercase;
  padding: 20px;
  color: #113A52;
  font-weight: bold;
}

.new-user-btn {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}




